@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("../assets/fonts/satoshi/css/satoshi.css");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
