.feedback-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 130px;
  position: relative;
}


.feedback-section .cont {
  width: 100%;
}

.feedback-section .cont h2 {
  font-family: Alfa Slab One;
  text-align: left;
  font-size: 48px;
  margin-bottom: 43px;
}

.feedback-section .feedback-cards-cont {
  display: flex;
  gap: 40px; /* Space between cards */
  width: 100%; /* Container takes full width */
  overflow-x: hidden; /* Horizontal scroll for the container */
  overflow-y: hidden; /* Prevent vertical scroll */
  padding-bottom: 20px; /* Optional: Add space for scrollbar */
}

.feedback-section .feedback-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* Prevent cards from shrinking */
  flex-grow: 0; /* Prevent cards from growing */

  font-family: Satoshi-Regular;
  font-size: 16px;
  width: 400px; /* Fixed width for cards */
  border: 1px solid #ccc;
  border-radius: 20px;

  padding: 28px 32px;
}

.feedback-section .btnCont {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 40px;

  gap: 20px;
}

.feedback-section .btnCont button {
  all: unset;
  cursor: pointer;
}

.subscribe {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  padding: 43px 64px;
  height: 180px;

  position: absolute; /* Position the subscribe section absolutely */
  bottom: -90px; /* Align to the top of the parent container */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for exact centering */
  width: 86%; /* Adjust width as needed */
  color: white; /* Example text color */
  text-align: center; /* Center text */
  border-radius: 20px;
  z-index: 2;
}

.subscribe .submit-cont {
  font-family: Satoshi-Regular;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 14px;
  width: 346px;
}

.subscribe .submit-cont .input {
  border-radius: 62px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: white;
  gap: 12px;
  padding: 12px 16px;
}

.subscribe .submit-cont input {
  all: unset;
  background: transparent;
  width: 100%;
  border: none;
  opacity: 0.4;
  color: black;
  text-align: left;

  font-size: 16px;
  line-height: 21.6px;
}

.subscribe .submit-cont input:focus {
  outline: none;
}

.subscribe button {
  all: unset;
  font-size: 16px;
  line-height: 21.6px;
  padding: 4% 26%;
  background-color: white;
  color: black;
  cursor: pointer;

  border-radius: 62px;
}

.subscribe h2 {
  color: white;
  font-family: Alfa Slab One;
  font-size: 40px;
  text-align: left;
  max-width: 600px;
}

@media (max-width: 1120px) {
  .subscribe h2 {
    max-width: 400px;
    font-size: 34px;
  }
}
@media (max-width: 900px) {
  .subscribe {
    height: 350px;
    bottom: -175px;
    padding: 32px 34px;
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .feedback-section .feedback-cards-cont {
    display: flex;
    overflow-x: auto;
    width: 100%;
    gap: 20px; /* Optional: adds space between cards */
  }

  .feedback-section {
    padding-bottom: 170px;
  }

  .feedback-section .feedback-card {
    flex: 0 0 100%; /* Ensures each card takes full width */
  }

  .subscribe {
    height: 300px;
    bottom: -150px;
    padding: 32px 34px;
    flex-direction: column;
    gap: 32px;
  }

  .subscribe h2 {
    width: 100%;
    line-height: 35px;
  }
  .subscribe .submit-cont {
    width: 100%;
  }

  .subscribe .submit-cont button {
    font-size: 14px;
    line-height: 18.9x;
    padding: 11.5px 60.5px;
  }

  .subscribe .submit-cont input {
    font-size: 14px;
    line-height: 18.9px;
  }
}

@media (max-width: 470px) {
  .subscribe {
    height: 400px;
    bottom: -200px;
  }
  .feedback-section {
    padding-bottom: 220px;
  }
}
